body {
  margin: 0;
  font-size: 18px;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

%remove-margins {
  margin: 0;
}

h1, h3, h4, h5, h6, p {
	@extend %remove-margins;
}

h2 {
	@extend %remove-margins;
	font-size: 36px;
	font-weight: 800;

}

section {
	.container {
    padding-top: 10px;
		width: 1200px;
		max-width: 90%;
		margin: 0 auto;
	}

  &.padded {
    padding-top: 5rem;
  }

  &.navbar {
    padding: 20px 0px;

      .row {
        display: flex;
        justify-content: space-between;
      }

      a {
      font-size: 20px;
      font-weight: bold;
      color: black;
      text-decoration: none;
      }

      .links {
        a {
          font-size: 15px;
          margin-left: 20px;

          &:hover {
            color: #0000CC;
          }
        }
      }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 16px 0;
      padding: 0;
    }
  }

  &.hero{
    width: 100%;
    height: 30rem;
    //display: flex;
    text-align: center;
    align-items: center;


    //img {
    //  display: block;
  //    margin: 0 auto;
  //    padding-top: 20px;
  //    width: 1200px;
      //height: 20rem;
  //  }

      h1 {
      padding-top: 5rem;
      padding-bottom: 3rem;
      font-size: 50px;
      max-width: 100%;
  		font-weight: 800;
      color: white;
  		//margin-bottom: 300px;
      }

      .row {
        padding-top: 3rem;
      }

      .bkgrdimg{
        background-image:url("../img/resize2.png");
        width: 1200px;
        height: 30rem;
      }

  }





  &.intro {
      color: black;

      img {
        height: 250px;
        width: 350px;
      }
  }

  &.footer {
    margin-top: 5rem;
    background-color: #181818;
    color: white;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

		a {
      padding: 20px;
      color: white;
      font-size: 15px;
      text-align: left;
      text-decoration: none;
      justify-content: space-between;

      &:hover {
        color: #0000CC;
		}
	}
}

}

.about {
  padding: 6rem;
}

//.fiscaltitle {
//  padding: 6rem;
//}

.row {
  display: flex;
  justify-content: space-around;
}

.row-1 {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
}

.column-small {
  width: 34%;
}

.column-large {
  width: 66%;
  padding-left: 40px;
}

.coleft {
  width: 66%;
}

.colright {
  width: 34%;
  padding-left: 40px;
}


a {
  &.button {
    background-color: blue;
    font-weight: bold;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 50px;
    transition: ease all .3s;

  &:hover {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
    }
  }
}
